ion-list {
    margin: 0;
    margin-top: 10px;
    background: var(--transparent) !important;
    padding: 0;
    ion-item {
        padding: 7px 21px 0px 21px;
        align-items: flex-start;
        margin: 0 auto;
        margin-bottom: 11px;
        border-radius: 10px;
        width: calc(100% - 25px);
        --background: var(--transparent);
        background: var(--bg-white);
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        min-height: unset !important;
        --padding-start: 0;
        border: 1px solid var(--border-line-color);
        .item_inner {
            width: 100%;
            ion-radio {
                --color-checked: var(--primary);
                min-width: 20px;
            }
            h2 {
                margin: 0;
                font-size: 1.2rem;
                font-weight: 500;
                color: var(--text-dark);
                width: 100%;
            }
        }
    }
}

ion-footer {
    --animate-duration: .4s !important;
    padding: 15px;
}