<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'change_language' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="bg_white" fullscreen>
    <ion-list lines="none">
        <ion-radio-group [(ngModel)]="defaultLanguageCode">
            <ion-item mode="md" lines="none" class="animate__animated animate__fadeInUp" *ngFor="let language of languages" (click)="onLanguageClick(language)">
                <div class="item_inner d-flex">
                    <h2>{{language.name}}</h2>
                    <ion-radio class="end" value="{{language.code}}"></ion-radio>
                </div>
            </ion-item>
        </ion-radio-group>
    </ion-list>
</ion-content>

<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
    <ion-button size="large" shape="block" class="btn" (click)="languageConfirm()">
        {{'continue' | translate}}
    </ion-button>
</ion-footer>