<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'nearby_bank_atm' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="map">
        <img src="assets/images/map.png">
    </div>
    <div class="near_me atm ion-text-center animate__animated animate__zoomIn" style="right: 10%; top: 11%">
        <ion-icon class="zmdi zmdi-card"></ion-icon>
    </div>
    <div class="near_me atm ion-text-center animate__animated animate__zoomIn" style="right: 31%; top: 38%">
        <ion-icon class="zmdi zmdi-card"></ion-icon>
    </div>
    <div class="near_me atm ion-text-center animate__animated animate__zoomIn" style="left: 10%; top: 60%">
        <ion-icon class="zmdi zmdi-card"></ion-icon>
    </div>
    <div class="near_me bank ion-text-center animate__animated animate__zoomIn" style="left: 30%; top: 30%">
        <ion-icon class="zmdi zmdi-balance"></ion-icon>
    </div>
    <div class="near_me bank ion-text-cente animate__animated animate__zoomInr" style="left: 40%; top:80%">
        <ion-icon class="zmdi zmdi-balance"></ion-icon>
    </div>
    <div class="my_location animate__animated animate__zoomIn" style="top: 47%; right: 38%;">
        <ion-icon class="zmdi zmdi-circle"></ion-icon>
    </div>
</ion-content>