<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>

    <div class="banner">
     
        <ion-card class="animate__animated animate__fadeInUp">
            <h2 class="d-flex">
                <ion-icon class="zmdi zmdi-camera ion-text-start" slot="start"></ion-icon>
                {{'upload_photo_erro' | translate}}
            </h2>
        </ion-card>
    </div>
</ion-header>

<ion-content class="bg_white" fullscreen>
    <div class="form">
        <ion-list lines="none">
           
            <ion-card class="animate__animated animate__fadeInUp">
                <h2>{{'connect_us' | translate}}</h2>
                <h3 class="d-flex">
                    <ion-icon class="zmdi zmdi-phone ion-text-start"></ion-icon> (47) 3371-1161
                </h3>
                <h3 class="d-flex">
                    <ion-icon class="zmdi zmdi-email ion-text-start"></ion-icon> ajuda@mbinveste.com.br
                </h3>
            </ion-card>

            <ion-card class="animate__animated animate__fadeInUp">
                <h2>{{'write_us_directly' | translate}}</h2>
                <ion-item lines="none">
                    <ion-textarea rows="5" placeholder="{{'enter_your_message' | translate}}"></ion-textarea>
                </ion-item>
            </ion-card>
        </ion-list>
    </div>
</ion-content>

<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
    <ion-button size="large" shape="block" class="btn" (click)="submit()">{{'submit' | translate}}</ion-button>
</ion-footer>