<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'deposits' | translate}}</ion-title>
    </ion-toolbar>

    <div class="banner">
        <ion-card (click)="upload_deposite()">
            <h2 class="d-flex">
                <ion-icon class="zmdi zmdi-camera ion-text-start" slot="start"></ion-icon>
                {{'upload_deposite' | translate}}
            </h2>
        </ion-card>
    </div>
</ion-header>

<ion-content fullscreen class="bg_color">
    <ion-list lines="none">
        <h2>{{'pending_deposites' | translate}}</h2>
        <ion-item class="panding animate__animated animate__fadeInUp">
            <div class="item_inner">
                <ion-row>
                    <ion-col size="8">
                        <h3 class="animate__animated animate__fadeInUp">{{'deposite_to' | translate}}</h3>
                        <h4>SB 1124 2541 2574</h4>
                    </ion-col>
                    <ion-col size="4">
                        <h3 class="animate__animated animate__fadeInUp">{{'amount' | translate}}</h3>
                        <h4>$ 500.00</h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="8">
                        <h3 class="animate__animated animate__fadeInUp">{{'uploaded_on' | translate}}</h3>
                        <h4>3 june, 2019 11:50 am</h4>
                    </ion-col>
                    <ion-col size="4">
                        <h3 class="animate__animated animate__fadeInUp">{{'status' | translate}}</h3>
                        <h5 class="animate__animated animate__fadeInUp">{{'pending' | translate}}</h5>
                    </ion-col>
                </ion-row>
            </div>
        </ion-item>
        <ion-item class="panding animate__animated animate__fadeInUp">
            <div class="item_inner">
                <ion-row>
                    <ion-col size="8">
                        <h3 class="animate__animated animate__fadeInUp">{{'deposite_to' | translate}}</h3>
                        <h4>SB 1124 2541 2574</h4>
                    </ion-col>
                    <ion-col size="4">
                        <h3 class="animate__animated animate__fadeInUp">{{'amount' | translate}}</h3>
                        <h4>$ 500.00</h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="8">
                        <h3 class="animate__animated animate__fadeInUp">{{'uploaded_on' | translate}}</h3>
                        <h4>3 june, 2019 10:33 am</h4>
                    </ion-col>
                    <ion-col size="4">
                        <h3 class="animate__animated animate__fadeInUp">{{'status' | translate}}</h3>
                        <h5 class="animate__animated animate__fadeInUp">{{'pending' | translate}}</h5>
                    </ion-col>
                </ion-row>
            </div>
        </ion-item>

        <h2>{{'past_deposited' | translate}}</h2>

        <ion-item class="animate__animated animate__fadeInUp deposited">
            <div class="item_inner">
                <ion-row>
                    <ion-col size="8">
                        <h3 class="animate__animated animate__fadeInUp">{{'deposite_to' | translate}}</h3>
                        <h4>SB 1124 2541 2574</h4>
                    </ion-col>
                    <ion-col size="4">
                        <h3 class="animate__animated animate__fadeInUp">{{'amount' | translate}}</h3>
                        <h4>$ 500.00</h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="8">
                        <h3 class="animate__animated animate__fadeInUp">{{'uploaded_on' | translate}}</h3>
                        <h4>3 june, 2019 11:50 am</h4>
                    </ion-col>
                    <ion-col size="4">
                        <h3 class="animate__animated animate__fadeInUp">{{'status' | translate}}</h3>
                        <h5 class="animate__animated animate__fadeInUp">{{'deposited' | translate}}</h5>
                    </ion-col>
                </ion-row>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp deposited">
            <div class="item_inner">
                <ion-row>
                    <ion-col size="8">
                        <h3 class="animate__animated animate__fadeInUp">{{'deposite_to' | translate}}</h3>
                        <h4>SB 1124 2541 2574</h4>
                    </ion-col>
                    <ion-col size="4">
                        <h3 class="animate__animated animate__fadeInUp">{{'amount' | translate}}</h3>
                        <h4>$ 500.00</h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="8">
                        <h3 class="animate__animated animate__fadeInUp">{{'uploaded_on' | translate}}</h3>
                        <h4>3 june, 2019 10:33 am</h4>
                    </ion-col>
                    <ion-col size="4">
                        <h3 class="animate__animated animate__fadeInUp">{{'status' | translate}}</h3>
                        <h5 class="animate__animated animate__fadeInUp">{{'deposited' | translate}}</h5>
                    </ion-col>
                </ion-row>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp deposited">
            <div class="item_inner">
                <ion-row>
                    <ion-col size="8">
                        <h3 class="animate__animated animate__fadeInUp">{{'deposite_to' | translate}}</h3>
                        <h4>SB 1124 2541 2574</h4>
                    </ion-col>
                    <ion-col size="4">
                        <h3 class="animate__animated animate__fadeInUp">{{'amount' | translate}}</h3>
                        <h4>$ 500.00</h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="8">
                        <h3 class="animate__animated animate__fadeInUp">{{'uploaded_on' | translate}}</h3>
                        <h4>3 june, 2019 11:50 am</h4>
                    </ion-col>
                    <ion-col size="4">
                        <h3 class="animate__animated animate__fadeInUp">{{'status' | translate}}</h3>
                        <h5 class="animate__animated animate__fadeInUp">{{'deposited' | translate}}</h5>
                    </ion-col>
                </ion-row>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp deposited">
            <div class="item_inner">
                <ion-row>
                    <ion-col size="8">
                        <h3 class="animate__animated animate__fadeInUp">{{'deposite_to' | translate}}</h3>
                        <h4>SB 1124 2541 2574</h4>
                    </ion-col>
                    <ion-col size="4">
                        <h3 class="animate__animated animate__fadeInUp">{{'amount' | translate}}</h3>
                        <h4>$ 500.00</h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="8">
                        <h3 class="animate__animated animate__fadeInUp">{{'uploaded_on' | translate}}</h3>
                        <h4>3 june, 2019 10:33 am</h4>
                    </ion-col>
                    <ion-col size="4">
                        <h3 class="animate__animated animate__fadeInUp">{{'status' | translate}}</h3>
                        <h5 class="animate__animated animate__fadeInUp">{{'deposited' | translate}}</h5>
                    </ion-col>
                </ion-row>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp deposited">
            <div class="item_inner">
                <ion-row>
                    <ion-col size="8">
                        <h3 class="animate__animated animate__fadeInUp">{{'deposite_to' | translate}}</h3>
                        <h4>SB 1124 2541 2574</h4>
                    </ion-col>
                    <ion-col size="4">
                        <h3 class="animate__animated animate__fadeInUp">{{'amount' | translate}}</h3>
                        <h4>$ 500.00</h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="8">
                        <h3 class="animate__animated animate__fadeInUp">{{'uploaded_on' | translate}}</h3>
                        <h4>3 june, 2019 11:50 am</h4>
                    </ion-col>
                    <ion-col size="4">
                        <h3 class="animate__animated animate__fadeInUp">{{'status' | translate}}</h3>
                        <h5 class="animate__animated animate__fadeInUp">{{'deposited' | translate}}</h5>
                    </ion-col>
                </ion-row>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp deposited">
            <div class="item_inner">
                <ion-row>
                    <ion-col size="8">
                        <h3 class="animate__animated animate__fadeInUp">{{'deposite_to' | translate}}</h3>
                        <h4>SB 1124 2541 2574</h4>
                    </ion-col>
                    <ion-col size="4">
                        <h3 class="animate__animated animate__fadeInUp">{{'amount' | translate}}</h3>
                        <h4>$ 500.00</h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="8">
                        <h3 class="animate__animated animate__fadeInUp">{{'uploaded_on' | translate}}</h3>
                        <h4>3 june, 2019 10:33 am</h4>
                    </ion-col>
                    <ion-col size="4">
                        <h3 class="animate__animated animate__fadeInUp">{{'status' | translate}}</h3>
                        <h5 class="animate__animated animate__fadeInUp">{{'deposited' | translate}}</h5>
                    </ion-col>
                </ion-row>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp deposited">
            <div class="item_inner">
                <ion-row>
                    <ion-col size="8">
                        <h3 class="animate__animated animate__fadeInUp">{{'deposite_to' | translate}}</h3>
                        <h4>SB 1124 2541 2574</h4>
                    </ion-col>
                    <ion-col size="4">
                        <h3 class="animate__animated animate__fadeInUp">{{'amount' | translate}}</h3>
                        <h4>$ 500.00</h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="8">
                        <h3 class="animate__animated animate__fadeInUp">{{'uploaded_on' | translate}}</h3>
                        <h4>3 june, 2019 11:50 am</h4>
                    </ion-col>
                    <ion-col size="4">
                        <h3 class="animate__animated animate__fadeInUp">{{'status' | translate}}</h3>
                        <h5 class="animate__animated animate__fadeInUp">{{'deposited' | translate}}</h5>
                    </ion-col>
                </ion-row>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp deposited">
            <div class="item_inner">
                <ion-row>
                    <ion-col size="8">
                        <h3 class="animate__animated animate__fadeInUp">{{'deposite_to' | translate}}</h3>
                        <h4>SB 1124 2541 2574</h4>
                    </ion-col>
                    <ion-col size="4">
                        <h3 class="animate__animated animate__fadeInUp">{{'amount' | translate}}</h3>
                        <h4>$ 500.00</h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="8">
                        <h3 class="animate__animated animate__fadeInUp">{{'uploaded_on' | translate}}</h3>
                        <h4>3 june, 2019 10:33 am</h4>
                    </ion-col>
                    <ion-col size="4">
                        <h3 class="animate__animated animate__fadeInUp">{{'status' | translate}}</h3>
                        <h5 class="animate__animated animate__fadeInUp">{{'deposited' | translate}}</h5>
                    </ion-col>
                </ion-row>
            </div>
        </ion-item>
    </ion-list>
</ion-content>