<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'assign_thumb_impression' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div class="container ion-text-center">
        <h2 class="">
            <span class="animate__animated animate__fadeInUp">{{'enter_your_thumb_impression' | translate}}</span>
            <br>
            <span class="animate__animated animate__fadeInUp">{{'3_times_to_assign' | translate}}</span>
        </h2>
        <div class="fingerprint animate__animated animate__zoomIn" (click)="handleClick()">
            <img src="assets/images/icons/ic_thumb.png">
        </div>
    </div>
</ion-content>

<ion-footer class="ion-no-border ion-text-center">
    <h2>
        <span class="animate__animated animate__fadeInUp"> {{'tips' | translate}}:</span>
        <br>
        <span class="animate__animated animate__fadeInUp">{{'try_to_tab' | translate}}</span>
        <br>
        <span class="animate__animated animate__fadeInUp">{{'add_oftenly' | translate}}</span>
        <br>
        <span class="animate__animated animate__fadeInUp">{{'you_canchange' | translate}}</span>
    </h2>
</ion-footer>