<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'faqs' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_white" fullscreen>
    <ion-accordion-group value="1">
        <ion-accordion class="animate__animated animate__fadeInUp" value="1" toggleIcon="">
            <ion-item class="header" slot="header" lines="none">
                <div class="item_inner d-flex">
                    <h3>How to transfer fund?</h3>
                    <ion-icon class="zmdi zmdi-chevron-down ion-text-end end"></ion-icon>
                </div>
            </ion-item>

            <div class="content" slot="content">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </ion-accordion>

        <ion-accordion class="animate__animated animate__fadeInUp" value="2" toggleIcon="">
            <ion-item class="header" slot="header" lines="none">
                <div class="item_inner d-flex">
                    <h3>How to change mPin & Thumb impression? </h3>
                    <ion-icon class="zmdi zmdi-chevron-down ion-text-end end"></ion-icon>
                </div>
            </ion-item>

            <div class="content" slot="content">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </ion-accordion>

        <ion-accordion class="animate__animated animate__fadeInUp" value="3" toggleIcon="">
            <ion-item class="header" slot="header" lines="none">
                <div class="item_inner d-flex">
                    <h3>How to found nearby Banks & ATMs?</h3>
                    <ion-icon class="zmdi zmdi-chevron-down ion-text-end end"></ion-icon>
                </div>
            </ion-item>

            <div class="content" slot="content">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </ion-accordion>
        <ion-accordion class="animate__animated animate__fadeInUp" value="4" toggleIcon="">
            <ion-item class="header" slot="header" lines="none">
                <div class="item_inner d-flex">
                    <h3>How to Deposite Cheque?</h3>
                    <ion-icon class="zmdi zmdi-chevron-down ion-text-end end"></ion-icon>
                </div>
            </ion-item>

            <div class="content" slot="content">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </ion-accordion>
        <ion-accordion class="animate__animated animate__fadeInUp" value="5" toggleIcon="">
            <ion-item class="header" slot="header" lines="none">
                <div class="item_inner d-flex">
                    <h3>How to check my trabsactions?</h3>
                    <ion-icon class="zmdi zmdi-chevron-down ion-text-end end"></ion-icon>
                </div>
            </ion-item>

            <div class="content" slot="content">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </ion-accordion>
        <ion-accordion class="animate__animated animate__fadeInUp" value="6" toggleIcon="">
            <ion-item class="header" slot="header" lines="none">
                <div class="item_inner d-flex">
                    <h3>How to apply for a loan?</h3>
                    <ion-icon class="zmdi zmdi-chevron-down ion-text-end end"></ion-icon>
                </div>
            </ion-item>

            <div class="content" slot="content">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </ion-accordion>


    </ion-accordion-group>
</ion-content>