<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'loan_statement' | translate}}</ion-title>
    </ion-toolbar>

    <div class="banner">
        <ion-card>
            <ion-row>
                <ion-col size="12">
                    <h3 class="animate__animated animate__fadeInUp d-flex">Home Loan
                    </h3>
                    <h2 class="animate__animated animate__fadeInUp">1124 2541 2574</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="7">
                    <h3 class="animate__animated animate__fadeInUp">{{'due_amount' | translate}}</h3>
                    <h4 class="animate__animated animate__fadeInUp">$ 200000.00</h4>
                </ion-col>
                <ion-col size="5">
                    <h3 class="animate__animated animate__fadeInUp">{{'emi' | translate}}</h3>
                    <h4 class="animate__animated animate__fadeInUp">$ 1000.00</h4>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
</ion-header>

<ion-content class="bg_white" fullscreen>
    <ion-list lines="none">
        <h2>{{'recent_transactios' | translate}}</h2>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3>EMI Debited</h3>
                <h4 class="d-flex">12 June, 2023 <span class="end">$ 1000.00</span></h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3>EMI Debited</h3>
                <h4 class="d-flex">12 May, 2023 <span class="end">$ 1000.00</span></h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3>EMI Debited</h3>
                <h4 class="d-flex">12 Apr, 2023 <span class="end">$ 1000.00</span></h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3>EMI Debited</h3>
                <h4 class="d-flex">12 Mar, 2023 <span class="end">$ 1000.00</span></h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3>EMI Debited</h3>
                <h4 class="d-flex">12 Feb, 2023 <span class="end">$ 1000.00</span></h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3>EMI Debited</h3>
                <h4 class="d-flex">12 Jan, 2023 <span class="end">$ 1000.00</span></h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3>EMI Debited</h3>
                <h4 class="d-flex">12 Dec, 2022 <span class="end">$ 1000.00</span></h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3>EMI Debited</h3>
                <h4 class="d-flex">12 Num, 2022 <span class="end">$ 1000.00</span></h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3>EMI Debited</h3>
                <h4 class="d-flex">12 Oct, 2022 <span class="end">$ 1000.00</span></h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3>EMI Debited</h3>
                <h4 class="d-flex">12 Sep, 2022 <span class="end">$ 1000.00</span></h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3>EMI Debited</h3>
                <h4 class="d-flex">12 Aug, 2022 <span class="end">$ 1000.00</span></h4>
            </div>
        </ion-item>

    </ion-list>
</ion-content>