ion-header ion-toolbar ion-title {
    text-align: center;
    display: block;
    padding: 0 15px !important;
}

ion-list {
    background: none;
    padding: 0;
    position: relative;
    z-index: 999;
    padding-top: 20px;
    padding-bottom: 10px;
    .list_header {
        position: relative;
        z-index: 999;
        ion-icon {
            color: var(--white);
            font-size: 2.5rem;
            border-radius: 50%;
            background: var(--secondary);
            width: 80px;
            height: 80px;
            line-height: 80px;
            display: block;
            margin: 0 auto;
        }
        .check_icon {
            display: block;
            width: 85px;
            margin: 0 auto 25px;
            img {
                display: block;
                margin: auto;
            }
        }
        h1 {
            font-size: 1.24rem;
            font-weight: 600;
            padding-bottom: 20px;
            color: var(--text-black);
            letter-spacing: 0;
        }
    }
    ion-item {
        margin: 0 auto;
        padding: 0;
        width: calc(100% - 40px);
        margin-bottom: 31px;
        --background: var(--transparent);
        background: var(--transparent);
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        box-shadow: none !important;
        --min-height: unset;
        z-index: 999;
        .item_inner {
            padding: 0;
            width: 100%;
            ion-row {
                margin: 0 -5px;
                ion-col {
                    padding: 0 5px;
                }
            }
            h3 {
                color: var(--text-light);
                font-size: 0.9rem;
                margin: 0;
                font-weight: 400;
                margin-bottom: 10px;
            }
            h2 {
                margin: 0;
                font-weight: 500;
                font-size: 1.05rem;
                color: var(--text-black);
            }
        }
    }
    p {
        margin: 0 auto;
        width: calc(100% - 70px);
        position: relative;
        z-index: 99;
        color: var(--text-light);
        font-size: .7rem;
        padding-bottom: 10px;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 65px;
        background: var(--primary);
    }
}

ion-footer {
    padding: 20px;
    --animate-duration: .4s !important;
    ion-row {
        margin: 0 -5px;
        ion-col {
            .button.btn {
                &.send_more {
                    --background: none!important;
                    position: relative;
                    color: var(--secondary) !important;
                    font-weight: 700;
                    border-radius: 10px !important;
                    overflow: hidden;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: var(--secondary);
                        opacity: .2;
                    }
                }
            }
        }
    }
}