<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <div class="img_box">
                <img src="assets/images/icons/bottom_menu/casa_before.png" class="before">
                <img src="assets/images/icons/bottom_menu/casa_after.png" class="after">
            </div>
            <ion-label>{{'home_page' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="transactions">
            <div class="img_box">
                <img src="assets/images/icons/bottom_menu/trasfer_before.png" class="before">
                <img src="assets/images/icons/bottom_menu/trasfer_after.png" class="after">
            </div>
            <ion-label>{{'transactions' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="notifications">
            <div class="img_box">
                <img src="assets/images/icons/bottom_menu/sino_before.png" class="before">
                <img src="assets/images/icons/bottom_menu/sino_after.png" class="after">
            </div>
            <ion-label>{{'notifications' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="myAccount">
            <div class="img_box">
                <img src="assets/images/icons/bottom_menu/user_before.png" class="before">
                <img src="assets/images/icons/bottom_menu/user_after.png" class="after">
            </div>
            <ion-label>{{'account' | translate}}</ion-label>
        </ion-tab-button>

        

    </ion-tab-bar>

</ion-tabs>