<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <div class="img_box">
                <img src="assets/images/icons/bottom_menu/ic_home.png" class="before">
                <img src="assets/images/icons/bottom_menu/ic_home_act.png" class="after">
            </div>
            <ion-label>{{'banking' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="transactions">
            <div class="img_box">
                <img src="assets/images/icons/bottom_menu/ic_transfer.png" class="before">
                <img src="assets/images/icons/bottom_menu/ic_transfer_act.png" class="after">
            </div>
            <ion-label>{{'transactions' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="myAccount">
            <div class="img_box">
                <img src="assets/images/icons/bottom_menu/ic_account.png" class="before">
                <img src="assets/images/icons/bottom_menu/ic_account_act.png" class="after">
            </div>
            <ion-label>{{'account' | translate}}</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>