<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'profile' | translate}}</ion-title>
    </ion-toolbar>
    <div class="profile_img_box">
        <div class="profile_img center_img">
            <img src="assets/images/profile.png" class="crop_img">
        </div>
        <ion-icon class="zmdi zmdi-camera"></ion-icon>
    </div>
</ion-header>


<ion-content fullscreen>
    <!-- <div class="bg"></div> -->

    <div class="form">
        <ion-list lines="none">
            <ion-item class="animate__animated animate__fadeInUp" lines="none">
                <ion-label position="floating">{{'full_name' | translate}}</ion-label>
                <ion-input type="text" value="Sam Smith"></ion-input>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp" lines="none">
                <ion-label position="floating">{{'email_address' | translate}}</ion-label>
                <ion-input type="text" value="samsmith@mail.com"></ion-input>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp" lines="none">
                <ion-label position="floating">{{'account_number' | translate}}</ion-label>
                <ion-input type="text" value="+1 987 654 3210"></ion-input>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp" lines="none">
                <ion-label position="floating">{{'customer_id' | translate}}</ion-label>
                <ion-input type="text" value="HDXC114124"></ion-input>
            </ion-item>
        </ion-list>
    </div>
</ion-content>


<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
    <ion-button size="large" shape="block" class="btn" (click)="save">{{'update_profile' | translate}}
    </ion-button>
</ion-footer>