ion-header ion-toolbar ion-title {
    font-size: 1.00rem;
    font-weight: 400;

}

.bg_primary {
    background: var(--primary);
    height: 100vh; /* Defina a altura total da tela */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente o conteúdo */
    align-items: center; /* Centraliza horizontalmente o conteúdo */
}
.button{
    width: 300px;
    margin-bottom: 20px !important;
}


.white-text {
    color: white; /* Define a cor do texto para branco */
    margin-top: 10px; /* Ajuste o espaçamento conforme necessário */

}

.button.btn {
    margin-top: 10px;
}
