ion-header ion-toolbar ion-title {
    font-size: 1.00rem;
    font-weight: 600;
}

ion-content {
    overflow: hidden;

    background-image: url("../../assets/images/welcomer-bg.jpg");
    background-size: cover;
    background-position: center;
}

.button.btn {
    margin-top: 30px;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

