
<ion-header>
    
    <div class="ion-text-center animate__animated animate__zoomIn bg_primary">
        <h2>
            <img src="../../assets/images/logo.png" width="300" height="300">
        </h2>
        <div class="button">
            <ion-button size="large" shape="block animate__animated animate__fadeInUp" class="btn" (click)="sign_in()">{{'sign_in_now' | translate}}</ion-button>

            <span class="ion-text-center white-text" (click)="sign_up()">
                <span class="end">{{'new_account' | translate}}</span>
            </span>
            
        </div>
        
    </div>
</ion-header>

