<ion-header>
    <ion-toolbar>
        <ion-title>
            <span class="d-flex" (click)="sign_up()">
                <span class="end"> {{'new_account' | translate}}</span>
            </span>
        </ion-title>
    </ion-toolbar>

  
</ion-header>

<ion-content class="bg_white" fullscreen>

    <img src="../../assets/images/welcomer-bg.jpg" class="background-image">

    <ion-button size="large" shape="block animate__animated animate__fadeInUp" class="btn" (click)="tabs()">{{'sign_in' | translate}}</ion-button>

    <!-- <div class="thumb_impression ion-text-center">
        <h2 class="animate__animated animate__fadeInUp">{{'or_scan_you_thump_to_continue' | translate}}</h2>
        <div class="fingerprint animate__animated animate__zoomIn">
            <img src="assets/images/icons/ic_thumb.png">
        </div>
    </div> -->
</ion-content>