<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'profile' | translate}}</ion-title>
    </ion-toolbar>
 
</ion-header>


<ion-content fullscreen>
    <!-- <div class="bg"></div> -->

    <ion-card (click)="loan_statement()">
        <ion-row>
            <ion-col size="24">
               <img  src="../../assets/images/icons/bottom_menu/user_after.png" alt="">
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="7">
                <h3 class="animate__animated animate__fadeInUp">Dados Pessoais</h3>
            </ion-col>   
        </ion-row>

    </ion-card>

    <ion-card (click)="loan_statement()">
        <ion-row>
            <ion-col size="24">
               <img src="../../assets/images/icons/dolar.png" alt="">
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="7">
                <h3 class="animate__animated animate__fadeInUp">Dados Bancarios</h3>
            </ion-col>   
        </ion-row>
        
    </ion-card>

    <ion-card (click)="loan_statement()">
        <ion-row>
            <ion-col size="24">
               <img src="../../assets/images/icons/bottom_menu/user_after.png" alt="">
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="7">
                <h3 class="animate__animated animate__fadeInUp">Configurações da Conta</h3>
            </ion-col>   
        </ion-row>
        
    </ion-card>
</ion-content>


<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
    <ion-button size="large" shape="block" class="btn" (click)="save">{{'update_profile' | translate}}
    </ion-button>
</ion-footer>