<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'create_token' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="form">
        <h2 class="ion-text-center">
            <span class="animate__animated animate__fadeInUp">{{'insert_token' | translate}}</span>
            <br>
            <!-- <span class="animate__animated animate__fadeInUp">Lembrand</span> -->
        </h2>
        <ion-list lines="none">
            <ion-item class="animate__animated animate__fadeInUp" lines="none">
                <ion-input type="text" placeholder="{{'enter_otp_code' | translate}}"></ion-input>
            </ion-item>
            <ion-button size="large" shape="block animate__animated animate__fadeInUp" class="btn" (click)="tabs()">{{'sign_in' | translate}}</ion-button>
        </ion-list>
    </div>
  
</ion-content>