ion-list {
    margin: 0;
    padding: 0;
    background: none;
    padding-top: 25px;
    ion-item {
        width: calc(100% - 30px);
        margin: 0 auto;
        border-radius: 8px;
        margin-bottom: 7px;
        padding: 15px;
        --background: var(--transparent);
        background: var(--white);
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --min-height: unset;
        .icon_box {
            margin: 0;
            width: 60px;
            img {
                width: 30px;
                display: block;
            }
        }
        .text_box {
            width: 100%;
            h2 {
                margin: 0;
                font-weight: 400;
                font-size: 1rem;
                color: var(--text-blak);
                padding-bottom: 7px;
            }
            h3 {
                color: var(--text-light2);
                font-size: 0.94rem;
                font-weight: 400;
                margin: 0;
            }
        }
    }
}