<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="tabs" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'fund_transfer2' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="bg_white" fullscreen>
    <ion-list lines="none">
        <ion-item class="animate__animated animate__fadeInUp" (click)="fund_transfer()">
            <div class="icon_box" slot="start">
                <img src="assets/images/icons/ic_withinbank.png">
            </div>
            <div class="text_box">
                <h2>{{'fund_transfer2' | translate}}</h2>
                <h3>{{'within_bank' | translate}}</h3>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="fund_transfer()">
            <div class="icon_box" slot="start">
                <img src="assets/images/icons/ic_otherbank.png">
            </div>
            <div class="text_box">
                <h2>{{'fund_transfer2' | translate}}</h2>
                <h3>{{'to_other_bank' | translate}}</h3>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp" (click)="imps()">
            <div class="icon_box" slot="start">
                <img src="assets/images/icons/ic_imps.png">
            </div>
            <div class="text_box">
                <h2>{{'imps' | translate}}</h2>
                <h3>{{'quick_transfer_mode' | translate}}</h3>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="fund_transfer()">
            <div class="icon_box" slot="start">
                <img src="assets/images/icons/ic_neft.png">
            </div>
            <div class="text_box">
                <h2>{{'neft' | translate}}</h2>
                <h3>{{'transfer_money' | translate}}</h3>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="fund_transfer()">
            <div class="icon_box" slot="start">
                <img src="assets/images/icons/ic_rtgs.png">
            </div>
            <div class="text_box">
                <h2>{{'rtgs' | translate}}</h2>
                <h3>{{'easiest_mode_of_transfer_money' | translate}}</h3>
            </div>
        </ion-item>

    </ion-list>
</ion-content>