<ion-header>
    <ion-toolbar>
        <ion-title>{{'transactions' | translate}}</ion-title>
    </ion-toolbar>
    <div class="banner">
        <ion-card class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="12">
                    <h3 class="d-flex">Balanço do mês
                        <span class="end" style="color: green;">{{'enter_balance' | translate}}</span>
                    </h3>
                    <h2 class="d-flex">
                        Agosto
                        <span class="end">R$ 1200,00</span>
                    </h2>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="12">
                    <h3 class="d-flex">Balanço do mês
                        <span class="end" style="color: red;">{{'finish_balance' | translate}}</span>
                    </h3>
                    <h2 class="d-flex">
                        1124 2541 2574
                        <span class="end">R$ 300,00</span>
                    </h2>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <h2>{{'recent_transactios' | translate}}</h2>
        <ion-item class="animate__animated animate__fadeInUp debited">
            <div class="item_inner">
                <h3>Burger King </h3>
                <h4 class="d-flex">NEFT | 12 June, 2019</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp credited">
            <div class="item_inner">
                <h3>Received - Emili Williamson</h3>
                <h4 class="d-flex">Bank Transfer | 10 June, 2019 <span class="end">$ 1000.00</span></h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp debited">
            <div class="item_inner">
                <h3>McDonalds</h3>
                <h4 class="d-flex">NEFT | 12 June, 2019 <span class="end">$ 20.00</span></h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp debited">
            <div class="item_inner">
                <h3>Mobile Recharge</h3>
                <h4 class="d-flex">RTGS | 12 June, 2019 <span class="end">$ 35.00</span></h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp debited">
            <div class="item_inner">
                <h3>Burger King </h3>
                <h4 class="d-flex">Donation | 12 June, 2019 <span class="end">$ 20.00</span></h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp credited">
            <div class="item_inner">
                <h3>Received - Emili Williamson</h3>
                <h4 class="d-flex">Donation | 10 June, 2019 <span class="end">$ 1000.00</span></h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp debited">
            <div class="item_inner">
                <h3>Burger King </h3>
                <h4 class="d-flex">NEFT | 12 June, 2019</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp credited">
            <div class="item_inner">
                <h3>Received - Emili Williamson</h3>
                <h4 class="d-flex">Bank Transfer | 10 June, 2019 <span class="end">$ 1000.00</span></h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp debited">
            <div class="item_inner">
                <h3>McDonalds</h3>
                <h4 class="d-flex">NEFT | 12 June, 2019 <span class="end">$ 20.00</span></h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp debited">
            <div class="item_inner">
                <h3>Mobile Recharge</h3>
                <h4 class="d-flex">RTGS | 12 June, 2019 <span class="end">$ 35.00</span></h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp debited">
            <div class="item_inner">
                <h3>Burger King </h3>
                <h4 class="d-flex">Donation | 12 June, 2019 <span class="end">$ 20.00</span></h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp credited">
            <div class="item_inner">
                <h3>Received - Emili Williamson</h3>
                <h4 class="d-flex">Donation | 10 June, 2019 <span class="end">$ 1000.00</span></h4>
            </div>
        </ion-item>

    </ion-list>
</ion-content>