ion-header {
    ion-toolbar ion-title {
        padding: 0 15px !important;
        text-align: center;
    }
    .banner {
        position: relative;
        width: 100%;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 130px;
            background: var(--primary);
        }
        .scroll_container {
            white-space: nowrap;
            overflow: hidden;
            overflow-x: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
            .item_scroll {
                display: inline-block;
                background: url('../../assets/images/item_bg.png');
                background-size: cover;
                background-repeat: no-repeat;
                color: var(--white);
                border-radius: 18px 18px 0px 0px;
                margin: 0 7px;
                padding: 30px 25px 35px;
                width: 340px;
                position: relative;
                overflow: hidden;
                &:first-child {
                    margin-left: 15px;
                }
                &:last-child {
                    margin-right: 15px;
                }
                h3 {
                    font-size: 0.9rem;
                    font-weight: 400;
                    margin: 0;
                    margin-bottom: 7px;
                    color: var(--text-light);
                }
                h2 {
                    margin: 0;
                    font-size: 1.4rem;
                    font-weight: 600;
                    padding-bottom: 17px;
                    letter-spacing: 1px;
                    position: relative;
                    z-index: 99;
                    color: var(--text-black);
                }
                h4 {
                    background: transparent;
                    text-align: center;
                    margin: 0;
                    width: fit-content;
                    color: var(--primary);
                    font-size: 0.95rem;
                    font-weight: 400;
                    border: 0.5px solid var(--primary);
                    border-radius: 20px;
                    line-height: 35px;
                    letter-spacing: 0.5px;
                    padding: 5px 10px;
                    z-index: 99;
                    min-width: 170px;
                }
            }
        }
    }
}

.home_menu {
    padding: 13px 0 20px 0;
    ion-row {
        ion-col {
            position: relative;
            .menu_item {
                position: relative;
                display: block;
                overflow: hidden;
                padding: 18px 0 18px 0;
                .icon_box {
                    width: fit-content;
                    margin: 0 auto;
                    margin-bottom: 15px;
                    img {
                        display: block;
                        margin: auto;
                        width: 30px;
                    }
                }
                p {
                    margin: 0;
                    font-weight: 500;
                    font-size: 0.9rem;
                    letter-spacing: 0;
                    color: var(--text-dark);
                    line-height: 19px;
                }
            }
        }
    }
}

ion-list {
    margin: 0;
    background: none;
    padding: none;
    ion-item {
        padding: 0;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        margin-bottom: 8px;
        --background: var(--transparent);
        background: var(--primary);
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        box-shadow: none !important;
        --min-height: unset;
        .img_box {
            width: 123px;
            min-width: 123px;
            height: 113px;
            margin: 0;
        }
        .item_inner {
            padding: 0;
            position: relative;
            z-index: 99;
            .text-box {
                width: 100%;
                padding: 0 16px
            }
            h2 {
                margin: 0;
                width: 100%;
                color: var(--white);
                font-size: 1.25rem;
                margin-bottom: 12px;
                font-weight: 400;
            }
            h3 {
                color: var(--white);
                font-size: .8rem;
                letter-spacing: 0.5px;
                margin: 0;
                font-weight: 400;
            }
            h4 {
                color: var(--white);
                font-size: 0.6rem;
                font-weight: 400;
                letter-spacing: 0.2px;
                margin: 0 -10px;
                span {
                    background: var(--secondary);
                    font-size: .7rem;
                    font-weight: 500;
                    border-radius: 3px;
                    height: 25px;
                    line-height: 25px;
                    padding: 0 8px;
                    margin: 0 10px;
                    min-width: 70px;
                }
            }
        }
    }
}

.offersBanner {
    .img_box {
        max-width: calc(100% - 30px);
        overflow: hidden;
        border-radius: 20px;
        margin: 0 auto;
        margin-bottom: 5px;
        img {
            border-radius: 20px;
        }
    }
}