<ion-header>
    <ion-toolbar>
        <ion-title><span>Olá, João Marcelino</span></ion-title>
    </ion-toolbar>
    <div class="banner">
        <div class="scroll_container">
            <div class="item_scroll animate__animated animate__zoomIn" (click)="statement()">
                <h3 class="animate__animated animate__fadeInUp">Saldo Disponível</h3>
                <h2 class="animate__animated animate__fadeInUp">R$ 100,00</h2>
                <h4 class="animate__animated animate__fadeInUp">{{'check_blance' | translate}}</h4>
            </div>
        </div>
    </div>
</ion-header>
<ion-content class="bg_white" fullscreen>
    <div class="home_menu">
        <ion-row>
            <ion-col class="animate__animated animate__zoomIn" size="4" (click)="account()">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <img src="assets/images/icons/ic_account.png">
                    </div>
                    <p innerHTML="{{'my_account' | translate}}"></p>
                </div>
            </ion-col>
            <ion-col class="animate__animated animate__zoomIn" size="4" (click)="fund_transfer_options()">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <img src="assets/images/icons/ic_fundtransfer.png">
                    </div>
                    <p innerHTML="{{'fund_transfer' | translate}}"></p>
                </div>
            </ion-col>
            <ion-col class="animate__animated animate__zoomIn" size="4" (click)="statement()">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <img src="assets/images/icons/ic_statement.png">
                    </div>
                    <p innerHTML="{{'bank_statement' | translate}}"></p>
                </div>
            </ion-col>
            <ion-col class="animate__animated animate__zoomIn" size="4" (click)="loan()">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <img src="assets/images/icons/ic_loan.png">
                    </div>
                    <p innerHTML="{{'my_loans' | translate}}"></p>
                </div>
            </ion-col>
            <ion-col class="animate__animated animate__zoomIn" size="4" (click)="list_of_deposites()">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <img src="assets/images/icons/ic_deposite.png">
                    </div>
                    <p innerHTML="{{'my_deposite' | translate}}"></p>
                </div>
            </ion-col>
            <ion-col class="animate__animated animate__zoomIn" size="4">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <img src="assets/images/icons/ic_more.png">
                    </div>
                    <p innerHTML="{{'more_options' | translate}}"></p>
                </div>
            </ion-col>
        </ion-row>
    </div>
    <div class="offersBanner">
        <div class="img_box animate__animated animate__fadeInUp" (click)="loan_info()">
            <img src="assets/images/banner/banner2.png">
        </div>
        <div class="img_box animate__animated animate__fadeInUp">
            <img src="assets/images/banner/banner3.png">
        </div>
    </div>
</ion-content>