<ion-header>
    <ion-toolbar>
        <ion-title><span>Olá, Usuário</span></ion-title>
    </ion-toolbar>
    <div class="banner">
        <div class="scroll_container">
            <div class="item_scroll animate__animated animate__zoomIn" (click)="statement()">
                <h3 class="animate__animated animate__fadeInUp">Saldo Disponível</h3>
                <h2 class="animate__animated animate__fadeInUp">R$ 100,00</h2>
                <h4 class="animate__animated animate__fadeInUp">{{'investiment' | translate}}</h4>
            </div>
        </div>
    </div>
</ion-header>
<ion-content class="bg_white" fullscreen>
    <div class="home_menu">
        <ion-row>
          
            <ion-col class="animate__animated animate__zoomIn" size="4" (click)="fund_transfer_options()">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <img src="assets/images/icons/setas-repetir.png">
                    </div>
                    <p innerHTML="{{'transfer' | translate}}"></p>
                </div>
            </ion-col>
            <ion-col class="animate__animated animate__zoomIn" size="4" (click)="account()">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <img src="assets/images/icons/pix.png">
                    </div>
                    <p innerHTML="{{'pix_area' | translate}}"></p>
                </div>
            </ion-col>
            <ion-col class="animate__animated animate__zoomIn" size="4" (click)="statement()">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <img src="assets/images/icons/dolar.png">
                    </div>
                    <p innerHTML="{{'investiment_area' | translate}}"></p>
                </div>
            </ion-col>
            <ion-col class="animate__animated animate__zoomIn" size="4" (click)="loan()">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <img src="assets/images/icons/codigo.png">
                    </div>
                    <p innerHTML="{{'pay_account' | translate}}"></p>
                </div>
            </ion-col>
            <ion-col class="animate__animated animate__zoomIn" size="4" (click)="list_of_deposites()">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <img src="assets/images/icons/carteira.png">
                    </div>
                    <p innerHTML="{{'my_card' | translate}}"></p>
                </div>
            </ion-col>
            <ion-col class="animate__animated animate__zoomIn" size="4">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <img src="assets/images/icons/fatura.png">
                    </div>
                    <p innerHTML="{{'fatura' | translate}}"></p>
                </div>
            </ion-col>
        </ion-row>
    </div>
    <div class="offersBanner">
        <!-- <div class="img_box animate__animated animate__fadeInUp" (click)="loan_info()">
            <img src="assets/images/banner/banner2.png">
        </div> -->
        <div class="img_box animate__animated animate__fadeInUp">
            <img src="assets/images/banner/banner3.png">
        </div>
    </div>
</ion-content>