<ion-header>
    <ion-toolbar>
        <ion-title>{{'notifications' | translate}}</ion-title>
    </ion-toolbar>
    
</ion-header>


<ion-content>
    <ion-list lines="none">

        <h2>{{'recent_notfications' | translate}}</h2>

        <ion-item class="animate__animated animate__fadeInUp debited">
            <div class="item_inner">
                <h3>Trasferencia realizada</h3>
                <h4 class="d-flex">Você fez um trasferencia no valor de R$10,00    
                    <span class="end">
                        <ion-icon class="zmdi zmdi-close end ion-text-end"></ion-icon>
                    </span>
                 </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp credited">
            <div class="item_inner">
                <h3>Equipe MB Investe</h3>
                <h4 class="d-flex">Movimente sua conta, e receba prêmios
                    <span class="end">
                        <ion-icon class="zmdi zmdi-close end ion-text-end"></ion-icon>
                    </span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp debited">
            <div class="item_inner">
                <h3>Trasferência recebida</h3>
                <h4 class="d-flex">Você fez um trasferencia no valor de R$1000,00. O valor já está em sua conta
                    <span class="end">
                        <ion-icon class="zmdi zmdi-close end ion-text-end"></ion-icon>
                    </span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp debited">
            <div class="item_inner">
                <h3>Equipe MB Investe</h3>
                <h4 class="d-flex">Movimente sua conta, e receba prêmios
                    <span class="end">
                        <ion-icon class="zmdi zmdi-close end ion-text-end"></ion-icon>
                    </span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp debited">
            <div class="item_inner">
                <h3>Trasferência recebida</h3>
                <h4 class="d-flex">Você fez um trasferencia no valor de R$1000,00. O valor já está em sua conta
                    <span class="end">
                        <ion-icon class="zmdi zmdi-close end ion-text-end"></ion-icon>
                    </span>
                </h4>
            </div>
        </ion-item>
        
    </ion-list>
</ion-content>