<ion-content>
    <div class="clear_button">
        <ion-icon name="close" (click)="dismiss()"></ion-icon>
    </div>
    <div class="container no_backend">
        <div class="container_inner">
            <h2>Precisa de ajuda?</h2>
            <p>Entre em contato com nossa equipe estamos aqui para te auxiliar</p>
            <p><strong>Horário de atendimento: </strong><br> <br> Segunda a sexta: 07:00 até as 20:00  Sabado e feriados: 10:00 até as 18:00</p>
        </div>

    </div>

    <div class="container complete_backend">
        <div class="container_inner">
            <h2>Converse <br> com  um atendente</h2>
            <p>Estamos no whatsapp! Clique no botão abaixo.</p>
            <div class="button" (click)="navWhatsapp()">
                <div class="icon_box">
                    <img src="assets/images/ic_whatsapp.png">
                </div>
                <h3>converse pelo <strong>WhatsApp</strong></h3>
            </div>
        </div>

    </div>
</ion-content>